/**
 * Main style sheet
 */

body {
	font-family: sans-serif;
}

.form-error{
  border: 1px solid red;
  padding: 0.5em;
}

.disabled {
  background-color: red;
}

input {
  height: 40px;
  width: 25%;
  margin: 0.5em;
}
input:focus {
  border: 1px solid teal;
  outline-width: 0;
}
